---
import Layout from '../layouts/Layout.astro';
// icons: css.gg
---

<Layout>
	<main class="w-full h-screen overflow-hidden overflow-y-scroll">
    <nav class="w-full sticky h-20 px-12 flex items-center justify-center uppercase text-zinc-800 font-semibold gap-8">
        <a href="/about/product">Product</a>
        <a href="/about/templates">Templates</a>
        <a href="/about/resources">Resources</a>
    </nav>

    <section class="w-full h-[calc(100%-3rem-3.5rem)] grid grid-cols-1 lg:grid-cols-2 gap-2 px-1 py-1 lg:px-14 lg:pb-14 lg:pt-8">
      <header class="w-full flex flex-col items-center justify-between bg-zinc-800 text-zinc-50 p-2 lg:p-12 lg:pb-4 rounded-lg">
        <span>
          <h1 class="uppercase text-5xl font-bold mt-48">Editron <br /> the easy and flexible website editor</h1>
          <p class="text-white text-lg font-thin my-2">Edit away the big gay</p>
        </span>

        <button title="Learn more" class="flex flex-col items-center font-thin w-48">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
              d="M11.0001 3.67157L13.0001 3.67157L13.0001 16.4999L16.2426 13.2574L17.6568 14.6716L12 20.3284L6.34314 14.6716L7.75735 13.2574L11.0001 16.5001L11.0001 3.67157Z"
              fill="currentColor"
            />
          </svg>
          Learn more
        </button>
      </header> 
    
      <aside class="w-full flex items-center justify-center text-zinc-800 p-2">
        <span>
        <h2 class="font-semibold text-3xl">Try it free!</h2>
        <p class="font-thin text-xs">No login required. Ya dummy!</p>
        <a href="/editor" class="inline-block px-8 py-2 mt-8 border border-zinc-800 rounded text-zinc-800 font-thin hover:bg-zinc-800 hover:text-zinc-50 transition-colors">Get started</a>
        </span>

      </aside>
    </section>
	</main>
</Layout>
